<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Welcome message</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    </head>
    <body style="font-family: 'Roboto', sans-serif; max-width: 800px; margin: 0 auto">
        <div style="text-align: center">
            <h1>Welcome to the FTN Chat!</h1>
        </div>
        <hr />
        <div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center">
                        <img src="https://iili.io/26X8Haj.png" width="100px" height="100px"   />
                    </td>
                </tr>
            </table>
            <div style="max-width: 35vw; margin: 0 auto; text-align: left">
                <h2>You've just joined the best learning platform.</h2>
                <p style="color: #848884">
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Gravida ridiculus aliquam mollis nisl aptent velit fusce. Condimentum vivamus porttitor neque sodales litora. Fermentum odio metus dolor diam platea tortor. Adipiscing id odio vivamus nascetur phasellus nam rutrum. Mi neque ac leo quis himenaeos leo cursus. Vehicula cras quam elit; sit augue himenaeos.
                </p>

                <h2>What happens next?</h2>
                <p style="color: #848884">
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Gravida ridiculus aliquam mollis nisl aptent velit fusce. Condimentum vivamus porttitor neque sodales litora. Fermentum odio metus dolor diam platea tortor.
                </p>
            </div>
        </div>
    </body>
</html>
